#### Multiply 10 with 5, and print the result.

In [8]:
def Multiply(num1,num2):
    x=10*5
    return x
print (Multiply(10,5))

50

### Divide 10 by 2, and print the result.

In [9]:
def Divide(num1,num2):
    x=num1*num2
    return x
print (Divide(10,2))

20

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [10]:
fruits_object = ["apple","lemon","rassbary"]
x=str(input("does this your fruit in list ?: "))
if x in fruits_object:
    print ("it is in")
else:
    print("sorry bro you aren't invited")

it is in

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [12]:
if 5==10:
    print("they are equal")
else:
    print("what the hell is this mean")

what the hell is this mean

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
if 5==5 and 4==4 :
    print("god damn this is good")
else:
    print("how")

### Print the second item in the fruits list.

In [13]:
print(fruits_object[1])

lemon

### Change the value from "apple" to "kiwi", in the fruits list.

In [17]:
fruits_object[0]="kiwi"
print(fruits_object)

['kiwi', 'lemon', 'rassbary']

### Use the append method to add "orange" to the fruits list.

In [21]:
fruits_object.append("orange")
print(fruits_object)

['kiwi', 'lemon', 'rassbary', 'orange', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [31]:
x=set(fruits_object)
print(x)
fruits_object.append("lemon")
x=list(fruits_object)
print(x)

{'kiwi', 'rassbary', 'lemon', 'orange'}
['kiwi', 'lemon', 'rassbary', 'orange', 'orange', 'lemon', 'lemon']

### Use the remove method to remove `"banana"` from the fruits list.

In [33]:
fruits_object.append("banana")
fruits_object.remove("banana")

### Use negative indexing to print the last item in the list.

In [37]:
print(fruits_object)
fruits_object.remove(fruits_object[-1])
print(fruits_object)

['kiwi', 'lemon', 'rassbary', 'orange', 'orange', 'lemon', 'lemon']
['kiwi', 'rassbary', 'orange', 'orange', 'lemon', 'lemon']

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [41]:
print(fruits_object[2:5])

['orange', 'orange', 'lemon']

### Use the correct syntax to print the number of items in the list.

In [42]:
print(len(fruits_object))

6

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [65]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527]
i=0
while numbers[i] != 237:
    if i%2==0:
        print(numbers[i])
    i+=1

386
47
907
236
823
597
328
953
399
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [66]:
base=float(input('please enter your base number : '))
height=float(input("plz enter your hieght : "))
area=0.5*base*height
print(area)

15.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [2]:
x=int(input('plz enter your second num : '))
y=int(input('plz enter your second num :'))
z=int(input('plz enter your third num :'))

a1=max(x,y,z)
a2=min(x,y,z)


mid=(x+y+z)-a1-a2
print(a2,mid,a1)

2 4 9

### Sort three integers :using conditional statements

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [78]:
f_L=[]
i=len(f_L)
while i < 6:
    x=eval(input("plz input you number"))
    f_L.append(x)
    print(i)
    i+=1
print(f_L)
print(f_L==list(set(f_L)))

0
1
2
3
4
5
[5, 5.0, 5, 5, 6, 8]
False
0
1
2
3
4
5
[6, 9, 9, 5, 6, 5]
False

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [4]:
x=sum({100,200,300})
y=sum({25, 18, 45})
print(x,y)

600 88

In [1]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [5]:
d_L ={"all":60,"hasnh":65,"akaza":-85}
x= d_L.values()
print(x)
sum(x)

dict_values([60, 65, -85])

40

### Filter the negative values from given dictionary

In [11]:
def filter_negative_dict(data):
  return {key: value for key, value in data.items() if value >= 0}

my_dict = {'a': 1, 'b': -5, 'c': 3, 'd': -2}
filtered_dict = filter_negative_dict(my_dict)
print(filtered_dict)

{'a': 1, 'c': 3}

### Test if all Values are Same in Dictionary

In [15]:
def all_values_same(data):
  return len(set(data.values())) == 1


my_dict1 = {'a': 1, 'b': 1, 'c': 1}
my_dict2 = {'x': 5, 'y': 3, 'z': 5}

print(all_values_same(my_dict1))  
print(all_values_same(my_dict2))

True
False

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [10]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [31]:
def value_in_dict(data, target_value):

  return any(value == target_value for value in data.values())

# Example usage
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
target_value = 'New York'

if value_in_dict(my_dict, target_value):
  print(f"The value '{target_value}' exists in the dictionary.")
else:
  print(f"The value '{target_value}' does not exist in the dictionary.")

The value 'New York' exists in the dictionary.

### Calculate the sum of all numbers from 0 to a given number

In [37]:
x=eval(input("plz input the value :"))
i = 0
while i < x:
  print(i)
  i += 1
  sum = (x * (x + 1)) // 2
  print("The sum of numbers from 1 to", x, "is", sum)
else:
  print("i is no longer less than 0")

i is no longer less than 0

### Find the factorial of a given number using while loop

In [40]:
n= int(input("plz input the :"))
x=1
i=1
while i<=n:
    x *= i
    i+=1
print("The factorial of", n, "is", x)

The factorial of 5 is 120

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

In [50]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
while my_list[i]:  
  if i % 2 != 0:  
    print(my_list[i])
  i += 1

20
40
60
80
100

IndexError: list index out of range

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

### Calculate the cube of all numbers from 1 to a given number

In [53]:
x = eval(input("plz enter your cube :"))
for y in range(0, x+1) :
    cube = y * y * y  # Calculate cube
    print("Number:", y, "Cube:", cube)

Number: 0 Cube: 0
Number: 1 Cube: 1
Number: 2 Cube: 8
Number: 3 Cube: 27
Number: 4 Cube: 64
Number: 5 Cube: 125

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [56]:
x = str(input("plz in put your word"))
print(len(set(x)))

5


### Write a Python program to add an item to a tuple.

In [65]:
word_list = []  # Create an empty list

user_word = input("Enter your word: ")
word_list.append(user_word)  # Append the user's word to the list
print(tuple(word_list))

('none',)

### Write a Python program to multiply all the items in a list.

In [67]:
word_list = ['apple', 'orange', 'cat']
user_word = eval(input("Enter your word: "))
x=word_list*user_word
print(x)

['apple', 'orange', 'cat', 'apple', 'orange', 'cat']

### Write a Python program to get the smallest number from a list.

In [68]:
numbers=[10, 20, 100, 40, 50, 100, 70, 80, 100]
smallest_value = min(numbers)

print("The smallest value in the list is:", smallest_value)

The smallest value in the list is: 10

### Write a Python program to get the largest number from a list.

In [69]:
numbers=[10, 20, 100, 40, 50, 100, 70, 80, 100]
smallest_value = max(numbers)

print("The smallest value in the list is:", smallest_value)

The smallest value in the list is: 100

### Write a Python program to clone or copy a list

In [75]:
original_list = [10, 20, 30, 40]
copied_list = original_list[:]  
print("Original list:", original_list)
print("Copied list:", copied_list)


copied_list.append(50)

print("Original list after modification:", original_list)
print("Copied list after modification:", copied_list)

Original list: [10, 20, 30, 40]
Copied list: [10, 20, 30, 40]
Original list after modification: [10, 20, 30, 40]
Copied list after modification: [10, 20, 30, 40, 50]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [79]:
s = set([0, 1, 3, 4, 5])
print("Original set:", s)

x = int(input("Enter a value to remove (if it exists): "))
s.discard(x) 

print("Set after removal (if element existed):", s)

Original set: {0, 1, 3, 4, 5}
Set after removal (if element existed): {1, 3, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [83]:
s = set([0, 1, 3, 4, 5])


maximum_value = max(s)
minimum_value = min(s)

print("Maximum value:", maximum_value)
print("Minimum value:", minimum_value)

Maximum value: 5
Minimum value: 0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [84]:
tuple1 = ("name", "age", "city", "city")

dict1 = {}  # Empty dictionary

for i in range(len(tuple1) - 1):  # Loop through unique keys (excluding last element)
  key = tuple1[i]
  if key not in dict1:  # Check if key already exists
    dict1[key] = tuple1[i + 1]  # Assign value based on next element

print(dict1)

{'name': 'age', 'age': 'city', 'city': 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [85]:
def replace_last_value(my_list, new_value):
  modified_list = []
  for element in my_list:
    new_tuple = element[:-1] + (new_value,)
    modified_list.append(new_tuple)
  return modified_list

sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100

modified_list = replace_last_value(sample_list, new_value)

print("Original list:", sample_list)
print("Modified list:", modified_list)

Original list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Modified list: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]